#waiting_container.container.d-flex.justify-content-center
  .row
    .col-12.align-self-center
      .fa-2x
        i class="fas fa-compact-disc fa-spin"

javascript:
  $(function(){
    $("#waiting_container").fadeOut(1000, function(){
      window.location.href = "#{redirect_url}"
    })
  });
